<div class="row primeros-productos" style="margin-top:0px;">
<div class="col-md-12 titulo">
      <h2>NOSOTROS</h2>
   <br>
  </div>
  <div class="col-md-12 info">
  	<h1>Mision</h1>
<p>Comercializar productos relacionados con papelería, jugueteria, cosmeticos , con un enfoque humano y   compromiso para atender con toda la energia a nuestros clientes satisfaciendo sus necesidades.</p>
  </div>
  

<div class="col-md-12 info">

<h1>Visión</h1>
<p>Ser una empresa con relaciones altamente fieles con sus clientes internos y externos, reconocida por el respeto, el cumplimiento y compromiso con los negocios y por tener un personal altamente calificado y comprometidos con la misión.</p>

</div>

<div class="col-md-12 info">
<h1>Valores</h1><br><br>
<p>- Trabajo en Equipo</p>

<p>- Buena Atención al Cliente Interno y Externo.</p>

<p>- Respeto</p>
</div>

<div class="col-md-12 info">
<h1>Objetivos</h1>
<br><br>
<p>- Innovar en servicio para tener buena relacion con los clientes y proveedores y participar en el crecimiento de todos con experiencias positivas para impactar el nivel de conciencia logrando lealtad.</p>
<br>
<p>- Con la innovación logramos impactar al consumidor para que nuestra marca los enamore, pero se deben hacer cosas diferentes porque el consumidor tiene y busca mas y mejor atencion.</p>
<br>
<p>- Atraer al cliente desde el plano emocional superando a la lógica racional. Y siempre haciendo activaciones demarca nunca dejando de impactar al cliente.</p>
<br>
<p>- Mantener un mercadeo relacional un factor de éxito e innovación lleno de detalles junto con un servicio al cliente donde siempre hay un saludo, una sonrisa.</p>
</div>
</div>

<style>
.info
{
	padding: 10px 130px;
	text-align: justify;
}
.info p
{
	font-size: 16px;
}
.info h1

{
	width: 200px;
	text-align: center;
	font-size: 20px;
	    background: orange;
    color: white;
    padding: 10px;
    display: inline-block;
}
  .primeros-productos
   {   
   margin-top: 50px;
   padding: 0px 40px;
   margin-bottom: 50px;
   }
   .titulo
   
 {
  margin-bottom: 20px;
 background: linear-gradient( rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.65) ), url('../../images/showtnotas.jpg');
  
  
    color: white;
}
   }
   .primeros-productos img
   {
   width: 100px;
   
   }
   .primeros-productos .col-md-3
   {
   border: 1px solid #d2d2d2;
   padding: 15px 0 0 0;
   text-align: center;
   margin-bottom: 20px;
   }
   h3
   {
   color:gray; 
   }
   h2
   {
  

   color: gray;
   margin: 40px 0 40px;
   color:#ff9000;
   font-weight: bold;
   }
  
</style>
